@model GarbagePickup.Models.ApplicationUser
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.IsInRole("Admin"))
{
    { Response.Redirect("~/Home/NoResults"); }
}
else
{
<h2>Admin</h2>

<ul>
    <li>UserName: @Model.UserName</li>
</ul>
}