@model GarbagePickup.Models.ApplicationUser
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!User.IsInRole("Employee"))
{
    { Response.Redirect("~/Home/NoResults"); }
}
<h2>Employee</h2>

<p></p>