
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration Complete</h2>

<p>You have completed the registration.  Please login with your user name and password that you have created.</p>